.bottom-sheet-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.bottom-sheet-overlay.show {
  opacity: 1;
  visibility: visible;
}

.bottom-sheet-content {
  background: white;
  width: 100%;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  min-height: 50vh;

  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.bottom-sheet-content.open {
  transform: translateY(0);
}

.bottom-sheet-handle {
  width: 40px;
  height: 5px;
  background: #ccc;
  border-radius: 10px;
  margin: 0 auto 20px;
}

.bottom-sheet-content .title {
  color: gray;
}

.bottom-sheet-input {
  border: 1px solid #ccc !important;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.bottom-sheet-content .wrapper-input input {
  font-size: 1.1rem;
  color: #333;
  padding: 12px;
}
