@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  padding: 0 12px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  background: #dfe9f2;
  height: 100dvh;
  background: linear-gradient(rgb(21, 119, 231) 0%, rgb(152, 201, 243) 100%);
  color: white;
}

.container {
  position: relative;
}

/* --------------------------component-------------------- */
.wrapper-input input {
  background: white;
  color: rgb(105, 104, 104);
  width: 100%;
  border: none;
  font-weight: 300;
  padding: 9px 9px 9px 43px;
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  border-radius: 8px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #f7941d;
  cursor: pointer;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.wrapper-card {
  background: white;
  color: black;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.wrapper-card span {
  font-size: 1.2rem;
}

/* --------------------------component end-------------------- */

/* --------------------------header-------------------- */

.header .date {
  font-size: 1.2rem;
}

.header .wrapper-filter {
  display: grid;
  grid-template-columns: 10fr 2fr;
  gap: 10px;
}

.wrapper-input {
  position: relative;
}

.wrapper-input .search-icon {
  position: absolute;
  color: gray;
  width: 25px;
  height: 25px;
  top: 8px;
  left: 10px;
}

/* --------------------------header end-------------------- */

/* --------------------------body-------------------- */
.content {
  margin-top: 40px;
  display: grid;
  gap: 15px;
}

.empty-state {
  text-align: center;
  padding: 30px 20px;
  color: rgba(255, 255, 255, 0.812);
}

.empty-state p {
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 300;
}
/* --------------------------body end-------------------- */
