@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #dfe9f2;
  height: 100dvh;
  background: linear-gradient(rgb(21, 119, 231) 0%, rgb(152, 201, 243) 100%);
  color: white;
}

.title {
  position: relative;
  padding-bottom: 15px;
}

.title .sub-title {
  position: absolute;
  font-size: 17px;
  bottom: 0;
  left: 0;
}
